.table-bordered{
    width:15% !important;
    margin-top: 8%;
    margin-left: 40%;
}
.icon{
    padding-right:10%;
}
td:hover{
    color:black;
}
td{
    color:gray;
}
.add{
    font-size:25px !important;
    color:red;
}
.add:hover{
    color:white;
    font-size:25px !important;
}
.button5:hover{
    border-radius:50%;
    background-color: red;
    color:white;
    border: none;
    width:40px;
    height:40px;
    margin-left: 46%;
    
}
.button5{
    border-radius:50%;
    border:2px solid red;
    width:40px;
    height:40px;
    background-color: white;
    margin-left: 46%;
    position: fixed;
    
}
.fa-plus{
    transform: rotate(0deg);
    transition: transform 0.5s linear;
    color:red;
    font-size:25px !important;
    padding-top: 5px !important;
  }
  .fa-plus:hover{
      color:white;
  }
  
  .fa-plus.open{
    transform: rotate(45deg);
    transition: transform 0.5s linear;
    font-size:25px !important;
  }

.show-menu{
   
  animation: Slide_up 1s ease ;
 
}
@keyframes Slide_up{
    0%{
        transform: translateY(50px);
        opacity: 0.5;

    }
    100%{
        transform: translateY(0);
        opacity:1;
    }
}

.hide-menu {
    visibility: hidden;
}
